.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.transparent{
  opacity: 0.5;
}

.tenpxpad{
  padding:10px;
}

.searchbar{
  width:auto;
  font-size: large;
}

.searchbutton{
  width:auto;
  font-size: large;
}


.recipe::-webkit-scrollbar {
  display: none;
}
.recipe{
  overflow: scroll;
  height:400px;
  width:23%;
  border: 1px solid black;
  border-radius: 15px;
  margin:4px;
}
.recipe:hover{
  background-color: azure;
}

.recipewrapper{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

h1{
  width: 100%;

}

*{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.flexcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}